.git
.github
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.pytest_cache
.mypy_cache
venv/
.venv/
env/
.env
.python-version
.DS_Store
.idea/
.vscode/
build/
dist/
*.egg-info/
README.md
.dockerignore
Dockerfile
